{% extends "base.html" %}

{% block title %}Questionnaire{% endblock %}

{% block page_content %}
    {% if current_user.is_authenticated() %}
        {% for answer in answers %}
            <div class = "container-fluid">
                <div class = "col-md-1" style="left: -40px; right: 20px; text-align: center">

                </div>
                <div class = "well col-md-8">
                    <b>
                        <div class="answer">{{answer.question.quest}}</div><br>
                    </b>
                    <div class="answer">{{answer.reply}}</div><br>
                    <div class="post-date small col-md-5"><a href="{{ url_for('main.user', username=answer.user.username) }}">{{answer.user.username}}</a> answered {{ moment(answer.timestamp).fromNow() }}</div>
                    <div class="text-right">
                        {% if current_user.is_authenticated() %}
                            {% if not current_user.has_voted(answer) %}
                                <a href="{{ url_for('.vote', answer_id = answer.id) }}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                            {% endif %}
                            {% if current_user.has_voted(answer) %}
                                <a href="{{ url_for('.unvote', answer_id = answer.id) }}"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                            {% endif %}
                        {% endif %}
                        <span class="badge">{{ answer.voters.count() }}</span>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="well answer">
        Users:
        {% for u in users %}
         <img class="img-rounded profile-thumbnail" src="{{ u.gravatar(size=20) }}"><a href="{{ url_for('main.user', username=u.username) }}">{{u.username}}</a>
        {% endfor %}
    </div>
{% endblock %}